<section class="ml-page-hero">
  <p class="ml-label">{{ section.settings.label }}</p>
  <h1>{{ page.title | default: section.settings.heading }}</h1>
</section>

<section class="ml-page-body">
  <div class="page-width">
    <article class="ml-page-copy rte">
      {{ page.content }}
      {%- if section.settings.show_default_table -%}
        <table class="ml-size-table">
          <thead>
            <tr>
              <th>Size</th>
              <th>Chest</th>
              <th>Length</th>
              <th>Sleeve</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>XS</td>
              <td>{{ section.settings.xs_chest }}</td>
              <td>{{ section.settings.xs_length }}</td>
              <td>{{ section.settings.xs_sleeve }}</td>
            </tr>
            <tr>
              <td>S</td>
              <td>{{ section.settings.s_chest }}</td>
              <td>{{ section.settings.s_length }}</td>
              <td>{{ section.settings.s_sleeve }}</td>
            </tr>
            <tr>
              <td>M</td>
              <td>{{ section.settings.m_chest }}</td>
              <td>{{ section.settings.m_length }}</td>
              <td>{{ section.settings.m_sleeve }}</td>
            </tr>
            <tr>
              <td>L</td>
              <td>{{ section.settings.l_chest }}</td>
              <td>{{ section.settings.l_length }}</td>
              <td>{{ section.settings.l_sleeve }}</td>
            </tr>
            <tr>
              <td>XL</td>
              <td>{{ section.settings.xl_chest }}</td>
              <td>{{ section.settings.xl_length }}</td>
              <td>{{ section.settings.xl_sleeve }}</td>
            </tr>
            <tr>
              <td>XXL</td>
              <td>{{ section.settings.xxl_chest }}</td>
              <td>{{ section.settings.xxl_length }}</td>
              <td>{{ section.settings.xxl_sleeve }}</td>
            </tr>
          </tbody>
        </table>
      {%- endif -%}
    </article>
  </div>
</section>

{% schema %}
{
  "name": "Maison size guide",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "label",
      "label": "Label",
      "default": "SIZE GUIDE"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Size Guide"
    },
    {
      "type": "checkbox",
      "id": "show_default_table",
      "label": "Show editable table",
      "default": true
    },
    {
      "type": "text",
      "id": "xs_chest",
      "label": "XS chest",
      "default": "Update from Printful"
    },
    {
      "type": "text",
      "id": "xs_length",
      "label": "XS length",
      "default": "Update from Printful"
    },
    {
      "type": "text",
      "id": "xs_sleeve",
      "label": "XS sleeve",
      "default": "Update from Printful"
    },
    {
      "type": "text",
      "id": "s_chest",
      "label": "S chest",
      "default": "Update from Printful"
    },
    {
      "type": "text",
      "id": "s_length",
      "label": "S length",
      "default": "Update from Printful"
    },
    {
      "type": "text",
      "id": "s_sleeve",
      "label": "S sleeve",
      "default": "Update from Printful"
    },
    {
      "type": "text",
      "id": "m_chest",
      "label": "M chest",
      "default": "Update from Printful"
    },
    {
      "type": "text",
      "id": "m_length",
      "label": "M length",
      "default": "Update from Printful"
    },
    {
      "type": "text",
      "id": "m_sleeve",
      "label": "M sleeve",
      "default": "Update from Printful"
    },
    {
      "type": "text",
      "id": "l_chest",
      "label": "L chest",
      "default": "Update from Printful"
    },
    {
      "type": "text",
      "id": "l_length",
      "label": "L length",
      "default": "Update from Printful"
    },
    {
      "type": "text",
      "id": "l_sleeve",
      "label": "L sleeve",
      "default": "Update from Printful"
    },
    {
      "type": "text",
      "id": "xl_chest",
      "label": "XL chest",
      "default": "Update from Printful"
    },
    {
      "type": "text",
      "id": "xl_length",
      "label": "XL length",
      "default": "Update from Printful"
    },
    {
      "type": "text",
      "id": "xl_sleeve",
      "label": "XL sleeve",
      "default": "Update from Printful"
    },
    {
      "type": "text",
      "id": "xxl_chest",
      "label": "XXL chest",
      "default": "Update from Printful"
    },
    {
      "type": "text",
      "id": "xxl_length",
      "label": "XXL length",
      "default": "Update from Printful"
    },
    {
      "type": "text",
      "id": "xxl_sleeve",
      "label": "XXL sleeve",
      "default": "Update from Printful"
    }
  ],
  "presets": [
    {
      "name": "Maison size guide"
    }
  ]
}
{% endschema %}
